.product-page {
  display: flex;
  gap: 25px;
}

.product-page__left-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-page__thumbnails {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-page__thumbnail-item.selected,
.product-page__color-item.selected {
  border: 1.5px solid #04306a;
}

.product-page__color-button,
.product-page__size-button {
  padding: 4px 8px;
}

.product-page__thumbnail-image {
  height: 100px;
  width: 75px;
  border-radius: 10px;
  cursor: pointer;
}

.product-page__main-image {
  height: 200px;
  width: 150px;
  border-radius: 10px;
}

.product-page__right-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-page__title {
  font-size: 24px;
}

.product-page__descr {
  font-size: 16px;
}

.product-page__subtitle {
  font-size: 19px;
}

.product-page__colors {
  list-style: none;
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.product-page__sizes {
  list-style: none;
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.product-page__price {
  font-size: 16px;
}

@media (max-width: 599px) {
  .product-page {
    flex-direction: column;
  }
}
