.product-list__items {
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.product-list__item {
  cursor: pointer;
}

.product-list__image {
  height: 200px;
  width: 150px;
  border-radius: 10px;
}
